<h2>Related Links</h2>

<ul>
    <li><a href="#">Parts List</a></li>
    <li><a href="#">How We Built It</a></li>
    <li><a href="#">Meditation &amp; Mindfulness Tips</a></li>
    <li>@Html.ActionLink("Scoreboard", "Index", "Home")</li>
</ul>
