<div class="row" style="background-color:#F4721A;">
    <div class="col-xs-12" style="text-align:right;font-size:18px;line-height:22px;padding:10px 40px;font-family:Oswald;font-weight:300;">
        <span style="color:#fff;">RELATED LINKS:</span>
        <a style="color:#3F3F3F;" href="http://www.omniresources.com/fans-of-fury-parts-list/">PARTS LIST</a> &middot;
        <a style="color:#3F3F3F;" href="http://www.omniresources.com/fans-of-fury-how-we-built-it/">HOW WE BUILT IT</a> &middot;
        <a style="color:#3F3F3F;" href="http://www.omniresources.com/mindfulness-meditation/">MEDITATION &amp; MINDFULNESS TIPS</a> &middot;
        <a style="color:#3F3F3F;" href="/">SCOREBOARD</a>
    </div>
</div>