@model OmniResources.FansOfFuryPublicWeb.Mvc.Models.QrCode.SurveyResponseGetViewModel
@{
    ViewBag.Title = "Welcome!";
}

<div class="jumbotron">
    <h1>QR Code Landing Page!</h1>
    <p class="lead">There will be a survey on this page with questions that marketing wants conference attendees to answer.</p>
</div>

<h2>TODO: survey form...</h2>