@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Omni Resources Fans of Fury!</h1>
    <p class="lead">This could be marketing schpiel about why we're so awesome!</p>
</div>

<h2>High Score Board?</h2>