@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <img src="@Url.Content("~/Content/fof-scores.jpg")" class="img-responsive" alt="Fans of Fury High Scores">
</div>

<div class="row">
    <div class="col-md-9">
        <h2>High Score Board</h2>
    </div>
    <div class="col-md-3">
        @Html.Partial("_RelatedLinks")
    </div>
</div>
